@define-color bubble-background rgba(0,0,0,0.85);
/*@define-color bubble-background #202020;*/
@define-color icon-hover #aaaaaa;
@define-color font-color #ffffff;
@define-color border-color rgba(171, 71, 188, 0.95);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* I have switched to nerd fonts icons */
    font-family: Symbols NerdFont Mono, JetBrainsMono Nerd Font, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    color: #ffffff;
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* Global module style */
.module {
    background: @bubble-background;
}

.modules-left {
    margin-left: 6px;
}
.modules-right {
    margin-right: 6px;
}

.modules-left > widget > *,
.modules-center > widget > *,
.modules-right > widget > * {
    margin-top: 2px;
    padding: 0 4px;
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    transition: color 0.5s;
}
.modules-left > widget:first-child > *, 
.modules-center > widget:first-child > *, 
.modules-right > widget:first-child > * {
    padding-left: 10px;
    border-left: 1px solid @border-color;
    border-radius: 10px 0 0 10px;
}
.modules-left > widget:last-child > *,
.modules-center > widget:last-child > *,
.modules-right > widget:last-child > * {
    padding-right: 10px;
    border-right: 1px solid @border-color;
    border-radius: 0 10px 10px 0;
}

/* maintain conistent borders even when there is only one element */
.modules-left > widget:only-child > *,
.modules-center > widget:only-child > *,
.modules-right > widget:only-child > * {
    padding: 0 6px;
    border: 1px solid @border-color;
    border-radius: 10px;
}

.modules-left > widget > *:hover,
.modules-right > widget > *:hover {
    color: @icon-hover;
}

#workspaces button {
    padding: 0 0.5px;
    background-color: transparent;
    color: #ffffff;
    transition: color 0.5s;
}

#workspaces button:hover {
    color: @icon-hover;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#mpd {
    padding: 0 10px;
    color: #ffffff;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    color: #ffffff;
}

#power-profiles-daemon:hover {
    color: @icon-hover;
}

label:focus {
    background-color: #000000;
}

#network 

#network.disconnected {
    background-color: #f53c3c;
}

#wireplumber {
    color: #ffffff;
}

#wireplumber:hover {
    color: @icon-hover;
}

#wireplumber.muted {
    color: #ffffff;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray 

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
